<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML Deployment</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>
<body>
 <div class="login">
	<center><h1>Which University Should you apply to?</h1></center>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        
        
<h5> <center>
This tool recommends one of the top 20 universities in the UK using a Machine Learning model (Multi-class Logisitic Regression).
<center> The model has been trained on on over 30000 individual ratings of universities from students from from Whatuni.com, scraped in February 2021.

<center> <h4><u>Directions: Please think about the key features you are looking for in a university and rank the following statements on a scale of 1-5 in order of relative importance.</u></center> 
    
	   <input type="text" name="Uni_Major" placeholder="Anticipated Major" required="required" /><br>
    	<br>I value a uni's efforts to increase  employability (careers department, work placements, transferable skills).
    	<input type="text" name="Uni_Jobs" placeholder="Job Prospects" required="required" /><br>
        I value the quality of how the course lectures are taught.
        <input type="text" name="Uni_Course_lectures" placeholder="Uni_Course_lectures" required="required" />
        <br>
        I value the quality of the university facilities.
		<input type="text" name="Uni_Facilities" placeholder="Uni_Facilities" required="required" />
		<br>
		I value the quality of the local life around the university.
    	<input type="text" name="Uni_Local_life" placeholder="Uni_Local_life" required="required" />
		<br>
		I value the quality of the university societies and sports.
		<input type="text" name="Uni_Societies_sports" placeholder="Uni_Societies_sports" required="required" />
        <br><button type="submit" class="btn btn-primary btn-block btn-large">Make recommendation</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}
 </div>
</body>
</html>